@import "./constants.css";

.main_content{
    display: flex;
    justify-content: flex-start;
}

.content_column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.similar_news{
    flex: 0 0 400px;
}

.news_box{
    margin: 10em 2em 0;
    padding: 0 8px;
    border: 2px solid var(--solace-black);
}

.news_box h4, .news_box h5, .news_box h6{
    color: var(--solace-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news_box h4{
    color: crimson;
    font-weight: 1000;
    font-size: 20px;
}

.news_box h5{
    font-weight: 700;
    font-size: 16px;
}

.news_box h6{
    font-weight: 400;
    font-size: 12px;
}

.similar_news h3{
    margin: 3em 0 2em 0;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time_news{
    margin: 1em 2em 2em;
    border-bottom: 1px solid var(--solace-black);
}

.time_news a{
    font-size: 16px;
    font-weight: 500;
    color: var(--solace-black);
    text-align: center;
}

.news{
    flex: 1 1 auto;
}

.article{
    margin: 10em 25em 4em 2em;
    padding-bottom: 4em;
    border-bottom: 2px solid var(--solace-black);
}

.article h2{
    font-weight: 800;
    font-size: 28px;
    text-align: left;
    color: var(--solace-black);
    margin-bottom: 1em;
}

.article img{
    margin: 20px 0;
    width: 95%;
}

.article p{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
}

.comments{
    position: relative;
    margin: 0 0 50px 40px;
    width: 70%;
}

.comments h4{
    font-weight: 400;
    margin: 0;
}

.comment_field{
    display: flex;
    margin: 10px 0;
}

.comment_field img{
    width:50px;
    height: 50px;
}

.comment_field form{
    margin: 0 7px;
    width: 76%;
    display: flex;
    align-items: center;
}

.comment_field form input[type="text"]{
    border: 3px solid var(--solace-grey);
    flex: 1 1 auto;
    height: 50%;
    padding-left: 10px;
    font-size: 16px;
}

.comment_field form input[type="text"]:focus{
    outline: transparent;
}

.post_button{
    margin: 0 10px;
    height: 60%;
    position: relative;
    background: var(--solace-red-button);
    color: var(--solace-white);
    border-color: transparent;
    font-size: 16px;
}

.comment{
    display: flex;
    flex-direction: column;
    margin:0 10px;
    font-size: 15px;
    width: 70%;
}

.comment h5{
    font-weight: 500;
    color: var(--solace-red);
    margin: 0 0 0 0;
    font-size: inherit;
}

.comment p{
    font-weight: 400;
    outline: 3px solid var(--solace-grey);
    outline-offset: 5px;
    margin-top: 8px;
    font-size: inherit;
}
