@import "./constants.css";

#main_content{
    display: flex;
    justify-content: flex-start;
}

.content_column{
    padding: 0 20px;
}


#similar_news{
    flex: 0 0 400px;
}

.news_box{
    margin: 10em 2em 0;
    padding: 0 4px;
    border: 2px solid var(--solace-black);
}

.news_box h4, .news_box h5, .news_box h6{
    color: var(--solace-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news_box h4{
    color: crimson;
    font-weight: 1000;
    font-size: 20px;
}

.news_box h5{
    font-weight: 700;
    font-size: 16px;
}

.news_box h6{
    font-weight: 400;
    font-size: 12px;
}

.similar_news h3{
    margin: 3em 0 2em 0;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time_news{
    margin: 1em 2em 2em;
    border-bottom: 1px solid var(--solace-black);
}

.time_news a{
    font-size: 16px;
    font-weight: 500;
    color: var(--solace-black);
    text-align: center;
}

#news{
    flex: auto;
}

.article_preview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10em 25em 5em 2em;
}

.article_preview a{
    font-weight: 800;
    font-size: 22px;
    text-align: left;
    color: var(--solace-black);
    margin-bottom: 1em;
}

.article_preview img{
    width: 95%;
}

.article_preview p{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
}
