@import "constants.css";

.header.premium, .header.premium .menu, .footer.premium{
    background: var(--solace-grey);
}

.header.premium .hamburger div, .main_container.premium {
    background: var(--solace-black);
}

.header.premium h1, .header.premium .menu ul li, footer.premium p{
    color: var(--solace-black);
}

.news_box.premium h5 {
    color: var(--solace-turquoise);
}

.news_box.premium h4, .news_box.premium h6,.article.premium, .article.premium h2 ,.similar_news.premium, .similar_news.premium .time_news a {
    color: var(--solace-white);
}

.news_box.premium {
    border-color: var(--solace-white);
}

.similar_news.premium .time_news {
    border-bottom-color: var(--solace-white);
}

.read_more_box{
    position: absolute;
    z-index: 1;
    background: rgba(51,51,51,0.16);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
}

.read_more_button{
    display: block;
    margin: 15px 0;
    font-style: italic;
    cursor: pointer;
    color: var(--solace-turquoise);
    font-size: 18px;
}

.read_more{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get_premium_box{
    z-index: 2;
    position: absolute;
    width: 60%;
    height: 20%;
    margin: 18% 20%;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--solace-black);
}

.get_premium_box p{
    font-size: 32px;
    text-align: center;
    margin: 20px 20px;
}

.get_premium_box input{
    margin: 20px 0;
    background: var(--solace-red);
}