@import "./constants.css";

.profile_page_content {
    position: relative;
    top:50px;
    padding: 50px 0;
    flex: 1 1 auto;
    width: 50%;
}

.big_line {
    border: none;
    height: 2px;
    background-color: var(--solace-black);
}

.personal_info {
    display: inline-block;
    color: var(--solace-light-grey);
    margin-top: 2px;
    margin-bottom: 1px;
}

.left_name {
    width: 20%;
}

.right_name {
    margin-left: 16.5%;
}

h2 {
    margin-bottom: 2px;
}

.mini_line {
    margin-left: 36.5%;
    margin-right: 42%;
}

.email {
    margin-left: 36.5%;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

.password {
    margin-left: 36.5%;
    margin-top: 1px;
    color: var(--solace-light-grey);
}

.margin_line {
    margin-left: 36.5%;
}

.payment_info {
    flex: 0 1 auto;
}

.plan_detail {
    margin-left: 16.5%;
    display: inline-block;
    font-weight: bold;
}

.credit_cards{
    display: flex;
    margin-left: 36.5%;
    justify-content: space-between;
}

.credit_card{
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.credit_card p{
    margin-left: 15px;
}

.form_manage_payment_info {
    padding: 20px 50px 100px;
    border: solid;
}

.form_manage_payment_info h5{
    font-size: 17px;
    font-weight: 400;
    margin: 3px 7px
}

h4 {
    margin-top: 1px;
    margin-bottom: 2px;
}

.edit_buuton {
    margin-left: 36%;
    background-color: var(--solace-light-grey);
    border-width: 0;
    font-size: large;
}

.delete_button {
    margin-left: 1.5%;
    background-color: var(--solace-red);
    border-width: 0;
    color: var(--solace-white);
    font-size: large;
}

.back_to_the_account{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    left: 0;
    cursor: pointer;
}

.back_to_the_account p {
    margin: 0 7px 3px 7px;
}

.edit_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit_card .edit_buttons{
    display: flex;
    flex: 0 0 auto;
    margin-right: 40px;
}