@import "styles/constants.css";

.main_content{
    display: flex;
    justify-content: flex-start;
}

.content_column{
    padding: 0 20px;
    border-right: 2px solid var(--solace-black);
    border-left: 1px solid var(--solace-black);
}

.content_column.topic_page{
    border-right: transparent;
    border-left: transparent;
    margin-top: 40px;
}

.content_column h3{
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last_news{
    flex: 0 0 370px;
}

.time_news{
    font-size: 16px;
    font-weight: 500;
    color: var(--solace-black);
    margin-bottom: 10px;
}

.time_news h4{
    font-family: 'Questrial', sans-serif;
    margin: 10px 0;
}

.news{
    flex: 1 1 auto;
}

.article_preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.article_preview .delimiter{
    position: relative;
    margin-top: 15px;
    display: inline-block;
    width: 30%;
    border-top: 2px solid var(--solace-black);
}

.article_preview a{
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    margin: 10px;
    color: var(--solace-black);
}

.article_preview a:hover{
    color: var(--solace-red);
}

.article_preview img{
    width: 85%;
}

.article_preview p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.article_preview h6{
    margin: 20px 0;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.additional_info{
    flex: 0 0 370px;
}

.additional_section{
    margin-bottom: 25px;
}

.additional_section h4{
    font-weight: 700;
    font-size: 16px;
    color: var(--solace-black);
    width: 299px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.poll{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.poll label{
    padding-bottom: 12px;
    font-weight: 500;
    color: var(--solace-black);
}

.poll input[type=checkbox]{
    vertical-align: -4px;
    -webkit-appearance:none;
    width: 15px;
    height: 15px;
    border-radius: 8%;
    transform: scale(1.2);
    margin-right: 12px;
    border: 2px solid var(--solace-red-button);
    cursor: pointer;
}

.poll input[type=checkbox]:checked{
    background: var(--solace-red-button);
}

.poll input[type=checkbox]:focus{
    outline: none;
}

.vote_button{
    margin: 5px 0;
    width: 79px;
    font-weight: 600;
    font-size: 15px;
}

.photo_text{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.photo_text p{
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
}

.photo_text img{
    object-fit: cover;
    width: 146px;
    height: 91px;
}


.photo_text.blog img{
    width: 90px;
    height: 66px;
}

